<!-- Privacy Static Data -->
<div class="">
	<!-- Main Header -->
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title panel-title-privacy" id="myModalLabel">Privacy Policy</h1>
    </div>
	<div class=" row privacy">
	    <div class="col-sm-12">
	      <p>
	      	This trial is performed taking account the existing user privacy policy per Dolorum Sed Mea Culpa.
	      	Extra Opera Operator. Qui bene amate beni chastigate. Te Deum Eum nostrum.
	      </p>
	      <p>
	      	This is trial is performed taking account the existing user privacy policy per Dolorum Sed Mea Culpa.
	      	Extra Opera Operator. Qui bene amate beni chastigate. Te Deum Eum nostrum.
	      </p>
	      <p>
	      	This is trial is performed taking account the existing user privacy policy per Dolorum Sed Mea Culpa.
	      	Extra Opera Operator. Qui bene amate beni chastigate. Te Deum Eum nostrum.
	      </p>
	      <p>
	      	This is trial is performed taking account the existing user privacy policy per Dolorum Sed Mea Culpa.
	      	Extra Opera Operator. Qui bene amate beni chastigate. Te Deum Eum nostrum.
	      </p>
	      <p>
	      	This is trial is performed taking account the existing user privacy policy per Dolorum Sed Mea Culpa.
	      	Extra Opera Operator. Qui bene amate beni chastigate. Te Deum Eum nostrum.
	      </p>
	      <p>
	      	This is trial is performed taking account the existing user privacy policy per Dolorum Sed Mea Culpa.
	      	Extra Opera Operator. Qui bene amate beni chastigate. Te Deum Eum nostrum.
	      </p>
	      <p>
	      	This is trial is performed taking account the existing user privacy policy per Dolorum Sed Mea Culpa.
	      	Extra Opera Operator. Qui bene amate beni chastigate. Te Deum Eum nostrum.
	      </p>
	    </div>
	</div>
</div>